version: "3.7"
services:
  backend:
    build: backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
  frontend:
    build: frontend
    volumes:
      - ./frontend:/app
    ports:
      - "4200:4200"
